__pycache__
.idea
*.pyc
.DS_Store
checkpoints
.pl
!pretrained_weights
!pretrained_weights/onnx
!pretrained_weights/personalive
!pretrained_weights/tensorrt
pretrained_weights/*
results
.venv
venv
*.egg-info
build
dist
*.eg
checkpoints_test
logs
third_party
